.menu{
  background-color: black;
  &__item{
    a{
      text-decoration: none;
      color: white;
    }
    padding: 1rem;
    filter: brightness(0.7);
    &:hover{
      filter: brightness(1);
    }
  }
}